@{
    ViewBag.Title = "Contact us:";
}


<address>
    <strong>Support:</strong>   <a href="https://wecancodeit.org/contact/">https://wecancodeit.org/contact/</a><br />
    <strong>Marketing:</strong> <a href="https://wecancodeit.org/">https://wecancodeit.org/</a>
</address>