@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wardrobe Designer</h1>
    
    
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Wardrobe</h2>
        <p>
            View Wardrobe 
        </p>
        <p><a class="btn btn-default" href="http://localhost:65333/WardrobeItems">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-lg-6">
        <h2>Outfits</h2>
        <p>View Outfits</p>
        <p><a class="btn btn-default" href="http://localhost:65333/outfits">Learn more &raquo;</a></p>
    </div>
</div>